.page {
  padding: 20px 0;
}

.title {
  color: #fff;
  text-align: center;
  margin-top: 30px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

.cardGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
  max-width: 900px;
}